<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-transitional-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:dx="http://www.jahia.com/thymeleaf/dx" th:remove="tag">
  <!--/*@thymesVar id="currentNode" type="org.jahia.services.content.JCRNodeWrapper"*/-->
  <!--/*@thymesVar id="out" type="java.io.PrintWriter"*/-->
  <!--/*@thymesVar id="script" type="org.jahia.services.render.scripting.Script"*/-->
  <!--/*@thymesVar id="scriptInfo" type="java.lang.String"*/-->
  <!--/*@thymesVar id="workspace" type="java.lang.String"*/-->
  <!--/*@thymesVar id="renderContext" type="org.jahia.services.render.RenderContext"*/-->
  <!--/*@thymesVar id="currentResource" type="org.jahia.services.render.Resource"*/-->
  <!--/*@thymesVar id="url" type="org.jahia.services.render.URLGenerator"*/-->
  <script type="text/javascript"
          th:src="${url.currentModule + '/javascript/utils.js'}"
          src="../../javascript/utils.js"></script>
  <div id="comments-thymeleaf-content">
    <div>
      <h2 th:text="${currentNode.getProperty('jcr:title').getValue().getString()}">Component Title</h2>
      <div class="commentList">
        <div class="comment" th:each="comment,iterStat : ${#jcr.getChildrenOfType(currentNode, 'javaone:comment')}">
          <span th:text="${comment.getProperty('text').getValue().getString()}">Comment Value</span>
        </div>
      </div>
    </div>
    <form>
      <textarea name="text"></textarea>
      <input type="button" value="Post"
             th:onclick="${'handleSubmit($(\'#comments-thymeleaf-content .commentList\'),\'' + workspace + '\', \'' + currentNode.identifier + '\', this.form.text.value)'}"/>
    </form>
  </div>
</html>